# Server Configuration
PORT=5050
NODE_ENV=development
API_VERSION=v1

# Database Configuration
MDB_URI=your_mongodb_connection_uri

# Authentication
JWT_SECRET=your_jwt_secret_key

# CORS / Socket.io Allowed Origins (Comma-separated for multiple domains)
FRONTEND_URL=https://delivery-hub-pi.vercel.app,http://localhost:3000
